body {
  font-family: 'Gloria Hallelujah', sans-serif;
}

h1 {
  font-size: 2.5em;
  text-align: center;
}

p {
  font-size: 1.5rem;
  text-align: center;
}

table {
  font-size: 3rem;
  border-collapse: collapse;
  margin: auto;
  width: 80vh;
  height: 80vh;
}

td {
  text-align: center;
  border: 3px solid black;
  width: 33.33%;
  box-sizing: border-box;
}

td:nth-of-type(1) {
  border-left: transparent;
}

td:nth-of-type(3) {
  border-right: transparent;
}

#row1 > td {
  border-top: transparent;
}

#row3 > td {
  border-bottom: transparent;
}